body{    
    font-family: 'Roboto', sans-serif;
    background-color: rgb(252, 252, 252);
    color: black;
}

.navbar-brand{
    letter-spacing: 2px;

    
}
.navbar-light .navbar-brand {
    color:black;
}
.navbar-light .navbar-brand:hover {
    color: black;
}

nav {
    background-color: white;
    border-bottom: 1px solid rgb(231, 231, 231) ;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    letter-spacing: 1px;
}

.jumbotron {
    background-color: rgb(19, 19, 19);
    border-bottom: 2px solid rgb(231, 231, 231);
    /* margin-bottom: 0px; */
    
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

.blurb h2 {
   color: rgb(0, 0, 0);
   font-size: 2.5rem;
   letter-spacing: 2px;
}

.blurb p {
    color: #2e2e2e;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.aboutimg{
    filter: grayscale(50%)
}

.h1, h1 {
    letter-spacing: 3px;
    
}

#headingGroup {
    color:black;
}

#landingNavbar{
    list-style-type: none;
    /* padding: 90px 0; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    position: relative;
    color: black;
    padding-right: 10px;

}

li a {
    color:black;
}

li a:hover {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-right: 5px;
}

#aboutIntro {
    background-color: black;
}

.skills {
    padding: 50px 0px;
    background-color:rgb(24, 24, 24);
    
}

.footer {
    border-top:1px solid rgb(231, 231, 231);
    padding-top: 20px ;
    background-color:white;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

#skillslist{
    list-style-type: none;
    /* padding: 90px 0; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    position: relative;
    color: white;
    padding-right: 10px;

}

#skillheader {
    color: white;
    font-size: 2.5rem;
   letter-spacing: 2px;
}

.aboutintro {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 50px;
}

